.DS_Store

/output/
/modules/build/
/samples/build/

# qt

/apps/build*/
/apps/**/*.pro.user

# ros

/wrappers/ros/build
/wrappers/ros/devel
/wrappers/ros/install
/wrappers/ros/.catkin_workspace
/wrappers/ros/src/CMakeLists.txt
