.DS_Store

_build/
_output/
_install/

# qt

/apps/build*/
/apps/**/*.pro.user

# ros

/wrappers/ros/build
/wrappers/ros/devel
/wrappers/ros/install
/wrappers/ros/.catkin_workspace
/wrappers/ros/src/CMakeLists.txt

# others

/mynteye-*
!/mynteye-*cmake*

/pkginfo.sh
/platforms/linux/sdk.cfg

/.vscode/

/dataset/
/*.bag

*.pyc
