<launch>

  <arg name="dev_index"     default="0" />
  <arg name="ir_intensity"  default="4" />

  <!-- Stream mode -->
  <arg name="stream_1280x720"   default="0" />
  <arg name="stream_2560x720"   default="1" />
  <arg name="stream_1280x480"   default="2" />
  <arg name="stream_640x480"    default="3" />

  <!-- Stream format -->
  <arg name="stream_mjpg"       default="0" />
  <arg name="stream_yuyv"       default="1" />

  <!-- Depth mode -->
  <arg name="depth_non"         default="0" />
  <arg name="depth_gray"        default="1" />
  <arg name="depth_colorful"    default="2" />
  <arg name="depth_non_16uc1"   default="3" />
  <arg name="depth_non_8uc1"    default="4" />

  <arg name="color_frame" default="mynteye_color" />
  <arg name="depth_frame" default="mynteye_depth" />

  <node name="mynteye_wrapper_node" pkg="mynteye_wrapper" type="mynteye_wrapper_node" output="screen">

    <!-- Camera params -->
    <param name="dev_index"     value="$(arg dev_index)" />
    <param name="framerate"     value="30" />
    <param name="depth_mode"    value="$(arg depth_non)" />
    <param name="stream_mode"   value="$(arg stream_1280x720)" />
    <param name="stream_format" value="$(arg stream_yuyv)" />
    <param name="state_ae"      value="true" />
    <param name="state_awb"     value="true" />
    <param name="ir_intensity"  value="$(arg ir_intensity)" />

    <!-- Frame ids -->
    <param name="color_frame" value="$(arg color_frame)" />
    <param name="depth_frame" value="$(arg depth_frame)" />

    <!-- Topic names -->
    <param name="color_topic" value="mynteye/color" />
    <param name="depth_topic" value="mynteye/depth" />

  </node>

</launch>
